<h1>Add a new album</h1>

<form action="/albums" method="post">
  <div class="form-group">
    <label for="album_name">Album name</label>
    <input id="n" name="album_name" class="form-control" type="text">
    <label for="album_year">Release Year</label>
    <input id="y" name="album_year" class="form-control" type="text">
    <label for="album_genre">Genre</label>
    <input id="g" name="album_genre" class="form-control" type="text">
    <label for="album_artist">Artist Name</label>
    <input id="a" name="album_artist" class="form-control" type="text">

  </div>
  <button type="submit" class="btn">Go!</button>
</form>
