<p>I HAVE KEYS BUT NO LOCKS. I HAVE A SPACE BUT NO ROOM. YOU CAN ENTER, BUT CAN’T GO OUTSIDE. WHAT AM I?</p>

<form action="/sphinx/success" method="get">

  <label for="question3">Answer (1 word):</label>
  <input type="text" name="question3">
  <button type="submit" name="button" class="btn">Go</button>
</form>
