<p>A BOY AND A DOCTOR WENT FISHING. THE BOY WAS THE DOCTOR'S SON BUT THE DOCTOR WASN'T THE BOY'S FATHER. WHO IS THE DOCTOR?</p>

<form action="/sphinx/question2" method="get">

  <label for="question1">Answer (1 word):</label>
  <input type="text" name="question1">
  <button type="submit" name="button" class="btn">Go</button>
</form>
