<p>WHAT HAS FOUR FINGERS AND A THUMB, BUT IS NOT LIVING?</p>

<form action="/sphinx/question3" method="get">

  <label for="question2">Answer (1 word):</label>
  <input type="text" name="question2">
  <button type="submit" name="button" class="btn">Go</button>
</form>
