<h1>All Sales Vinyl</h1>

<h3>Matching Records</h3>

<% if @albums.any? %>
  <ul>
    <% @albums.each do |album| %>
        <li><a href="/albums/<%= album.id %>"><%= album.name %></a></li>

      <% end %>
  </ul>
<% else %>
  <p>There are currently no records to display.</p>
<% end %>
