<h2>Welcom to Thebes!</h2>
<h3>but you're not in quite yet</h3>

<h4>I am the sphinx and to enter my city, you must answer three riddles correctly and pass the test of knowledge. Fail and be sent back into the desert to your doom.</h4>

<p>Do you want to try?</p>
<form action="sphinx/question1" method="get">
  <button type="submit" name="button" class="btn">yes</button>
</form>
